
    {{#each articles}}
    <tr>
        <td><a href="{{url}}" target="_blank"> <h1>{{title}}</h1></a> </td>
        <td><h3>{{author}}</h3></td>
        <td>{{description}} </td>
    </tr>
    
    {{/each}}

    
